{% extends 'base.html' %}

{% block title %}
Winnerget.online Главная
{% endblock %}

{% block ogtitle %}
Winnerget.online Главная
{% endblock %}


{% block body%}
        <body class="home page-template-default page page-id-7 logged-in admin-bar no-customize-support color-custom style-simple button-stroke layout-full-width if-border-hide no-content-padding header-modern minimalist-header-no sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky tr-header tr-menu tr-content be-reg-2149"
    >
        <!-- mfn_hook_top --><!-- mfn_hook_top -->

        <div id="Wrapper">
            <div id="Header_wrapper" class="">
                <header id="Header">
                    <div class="header_placeholder"></div>

                    <div id="Top_bar" class="loading">
                        <div class="container">
                            <div class="column one">
                                <div class="top_bar_left clearfix">
                                    <div class="logo">
                                        <a id="logo" href="https://int.winnerget.ru" title="int.winnerget.ru" data-height="60" data-padding="5">
                                            <img class="logo-main scale-with-grid" src="/static/img/logowinnerget-1.png" data-retina="" data-height="" alt="" data-no-retina />
                                            <img class="logo-sticky scale-with-grid" src="/static/img/logowinnerget.png" data-retina="" data-height="" alt="" data-no-retina />
                                            <img class="logo-mobile scale-with-grid" src="/static/img/logowinnerget-1.png" data-retina="" data-height="" alt="" data-no-retina />
                                            <img class="logo-mobile-sticky scale-with-grid" src="/static/img/logowinnerget-1.png" data-retina="" data-height="" alt="" data-no-retina />
                                        </a>
                                    </div>
                                    <div class="menu_wrapper">
                                        <nav id="menu">
                                            <ul id="menu-menu" class="menu menu-main">
                                                <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item">
                                                    <a href="https://int.winnerget.ru/"><span>Home</span></a>
                                                </li>
                                                <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item">
                                                    <a href="/launch-page"><span>scriptrun</span></a>
                                                </li>
                                                <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="https://int.winnerget.ru/?page_id=11"><span>Pricing</span></a>
                                                </li>
                                                <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="https://int.winnerget.ru/?page_id=9"><span>Features</span></a>
                                                </li>
                                                <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="https://int.winnerget.ru/?page_id=13"><span>FAQ</span></a>
                                                </li>
                                                <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="/about"><span>Reviews</span></a>
                                                </li>
                                                <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="/posts"><span>Learn</span></a>
                                                </li>
                                                <li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="/create-article"><span>Buy now</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                    </div>

                                    <div class="secondary_menu_wrapper"></div>

                                    <div class="banner_wrapper"></div>

                                    <div class="search_wrapper">
                                        <form method="get" id="searchform" action="https://int.winnerget.ru/">
                                            <i class="icon_search icon-search-fine"></i>
                                            <a href="#" class="icon_close"><i class="icon-cancel-fine"></i></a>

                                            <input type="text" class="field" name="s" placeholder="Enter your search" />
                                            <input type="submit" class="display-none" value="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->
            <div id="Content">
                <div class="content_wrapper clearfix">
                    <div class="sections_group">
                        <div class="entry-content" itemprop="mainContentOfPage">
                            <div
                                class="section mcb-section mcb-section-a38aa3f45 home-sec1 bg-cover"
                                style="padding-top: 151px; padding-bottom: 151px; background-image: url(/static/img/bgr1.jpg); background-repeat: no-repeat; background-position: center;"
                            >
                                <div class="section-divider triangle down"></div>
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-03eb7a323 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-3c11c97aa one column_column firstscreen">
                                                <div class="column_attr clearfix align_center mobile_align_center animate" data-anim-type="fadeIn" style="">
                                                    <h1>
                                                        Get the winners of your<br />
                                                        Instagram contest<br />
                                                        in just 1click
                                                    </h1>
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <form class="form sec-1" action="contest.winnerget.online" method="get">
                                                        <input type="text" name="posturl" class="form__input" placeholder="Enter post link" /><button type="submit" class="btn-clr btn-clr__secondary">Start matching</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section mcb-section mcb-section-3fb3d641c bg-cover" style="background-color: #f6f7f8;">
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-a31ed5afe two-third valign-top bg-contain move-up clearfix" style="padding: 0 1%; margin-top: -100px;" data-mobile="no-up">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-ee8a3241b one column_column whitebtn">
                                                <div
                                                    class="column_attr clearfix animate"
                                                    data-anim-type="fadeInLeftLarge"
                                                    style="
                                                        background-color: #ffffff;
                                                        background-image: url('/static/img/mac-moqup-1.jpg');
                                                        background-repeat: no-repeat;
                                                        background-position: right bottom;
                                                        padding: 60px 8% 300px;
                                                        border-radius: 15px;
                                                        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                                                            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
                                                    "
                                                >
                                                    <h2>
                                                        Fast<br />
                                                        and safe
                                                    </h2>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper"><img class="scale-with-grid" src="/static/img/app3-home-short-line.png" alt="" title="" /></div>
                                                    </div>

                                                    <hr class="no_line" style="margin: 0 auto 35px;" />

                                                    <a class="btn-clr btn-clr__secondary" style="margin-left: 290px;" href="https://winnerget.online/cont">Run contest</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-ceac5e041 one-third sec2 rightcol valign-top move-up clearfix" style="padding: 0 1%; margin-top: -100px;" data-mobile="no-up">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-905f09ecb one column_column">
                                                <div
                                                    class="column_attr clearfix animate"
                                                    data-anim-type="fadeInRightLarge"
                                                    style="
                                                        background-color: #ffffff;
                                                        background-image: url('/static/img/370791-1.jpg');
                                                        background-repeat: no-repeat;
                                                        background-position: right top;
                                                        padding: 0px 8% 0px;
                                                        border-radius: 15px;
                                                        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                                                            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
                                                    "
                                                >
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h2 style="color: #fff;">Flex</h2>
                                                    <p style="color: #fff;">Up to 15 options to fine tune up your contest</p>
                                                    <hr class="no_line" style="margin: 0 auto 35px;" />
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-13564ba18 one column_column">
                                                <div
                                                    class="column_attr clearfix animate"
                                                    data-anim-type="fadeInRightLarge"
                                                    style="
                                                        background-color: #ffffff;
                                                        background-image: url('/static/img/370791-1.jpg');
                                                        background-repeat: no-repeat;
                                                        background-position: right center;
                                                        padding: 0px 8% 0px;
                                                        border-radius: 15px;
                                                        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                                                            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
                                                    "
                                                >
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h2 style="color: #fff;">Honest</h2>
                                                    <p style="color: #fff;">Organizer cannot influence the results of the winner selection!</p>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-5a7095d75 one column_column">
                                                <div
                                                    class="column_attr clearfix animate"
                                                    data-anim-type="fadeInRightLarge"
                                                    style="
                                                        background-color: #ffffff;
                                                        background-image: url('/static/img/370791-1.jpg');
                                                        background-repeat: no-repeat;
                                                        background-position: right bottom;
                                                        padding: 0px 8% 0px;
                                                        border-radius: 15px;
                                                        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                                                            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
                                                    "
                                                >
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <h2 style="color: #fff;">Safe</h2>
                                                    <p style="color: #fff;">
                                                        Your Instagram account always in safe!<br />
                                                        We do not use your credentials to run contest!
                                                    </p>
                                                    <hr class="no_line" style="margin: 0 auto 35px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-6d482a2d4 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-46ffe9aaa two-third column_column column-margin-0px">
                                                <div class="column_attr clearfix" style="">
                                                    <hr class="no_line" style="margin: 0 auto 125px;" />

                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper"><img class="scale-with-grid" src="/static/img/app3-home-short-line2.png" alt="" title="" /></div>
                                                    </div>

                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h2>How WinnerGet works</h2>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-0ca584787 one column_visual section mcb-section">
                                                <div class="bglayer numberright bg1">
                                                    <div class="column_attr plashkatext bgwht animate fadeInLeftLarge" data-anim-type="fadeInLeftLarge">
                                                        <div class="number">Step 1</div>
                                                        <div class="border">&nbsp;</div>
                                                        <div class="step-desc">Paste your post URL in and push "Start" button!</div>
                                                        <div class="ico"></div>
                                                    </div>
                                                    <div class="stepnbr">01</div>
                                                    <div class="column_attr empty bgwht animate fadeInRightLarge" data-anim-type="fadeInRightLarge"></div>
                                                </div>
                                                <div class="bglayer numberleft bg2">
                                                    <div class="column_attr empty bgwht animate fadeInLeftLarge" data-anim-type="fadeInLeftLarge"></div>
                                                    <div class="stepnbr">02</div>
                                                    <div class="column_attr plashkatext bgwht animate fadeInRightLarge" data-anim-type="fadeInRightLarge">
                                                        <div class="number">Step 2</div>
                                                        <div class="border">&nbsp;</div>
                                                        <div class="step-desc">Wait until we parse post data: likes, comments and followers(approx. 1 minute)</div>
                                                        <div class="ico"></div>
                                                    </div>
                                                </div>
                                                <div class="bglayer numberright bg3">
                                                    <div class="column_attr plashkatext bgwht animate fadeInLeftLarge" data-anim-type="fadeInLeftLarge">
                                                        <div class="number">Step 3</div>
                                                        <div class="border">&nbsp;</div>
                                                        <div class="step-desc">Define a number of winners and define contest conditions to match a winner</div>
                                                        <div class="ico"></div>
                                                    </div>
                                                    <div class="stepnbr">03</div>
                                                    <div class="column_attr empty bgwht animate fadeInRightLarge" data-anim-type="fadeInRightLarge"></div>
                                                </div>
                                                <div class="bglayer numberleft bg4">
                                                    <div class="column_attr empty bgwht animate fadeInLeftLarge" data-anim-type="fadeInLeftLarge"></div>
                                                    <div class="stepnbr">04</div>
                                                    <div class="column_attr plashkatext bgwht animate fadeInRightLarge" data-anim-type="fadeInRightLarge">
                                                        <div class="number">Step 4</div>
                                                        <div class="border">&nbsp;</div>
                                                        <div class="step-desc">We'll check all of your followers for match the predefined conditions and choose the winners randomly!</div>
                                                        <div class="ico"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-5a8bce321 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-1b0f2ae11 two-third column_column">
                                                <div class="column_attr clearfix" style="">
                                                    <hr class="no_line" style="margin: 0 auto 125px;" />

                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper"><img class="scale-with-grid" src="/static/img/app3-home-short-line2.png" alt="" title="" /></div>
                                                    </div>

                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h2>WinnerGet's usefull for</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-356235ec6 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-setcuyhxw one-third column_flat_box">
                                                <div class="flat_box">
                                                    <div class="animate" data-anim-type="fadeInLeftLarge">
                                                        <div class="photo_wrapper">
                                                            <div class="icon themebg"><i class="icon-lamp"></i></div>
                                                            <img class="photo scale-with-grid" src="/static/img/buiseness.jpg" alt="buiseness" width="600" height="401" />
                                                        </div>
                                                        <div class="desc_wrapper">
                                                            <h4>Business</h4>
                                                            <div class="desc">
                                                                <ul>
                                                                    <li>New customers and sales through Instagram</li>
                                                                    <li>Advertise your products and services</li>
                                                                    <li>Reach and awareness</li>
                                                                    <li>Customer loyalty</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-cga27myje one-third column_flat_box">
                                                <div class="flat_box">
                                                    <div class="animate" data-anim-type="fadeInLeftLarge">
                                                        <div class="photo_wrapper">
                                                            <div class="icon themebg"><i class="icon-lamp"></i></div>
                                                            <img class="photo scale-with-grid" src="/static/img/bloggers.jpg" alt="bloggers" width="600" height="401" />
                                                        </div>
                                                        <div class="desc_wrapper">
                                                            <h4>Bloggers</h4>
                                                            <div class="desc">
                                                                <ul>
                                                                    <li>New subscribers</li>
                                                                    <li>Major sponsors and advertisers</li>
                                                                    <li>Audience engagement</li>
                                                                    <li>Trusted by sponsors, advertisers and audiences</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-yriyony8v one-third column_flat_box">
                                                <div class="flat_box">
                                                    <div class="animate" data-anim-type="fadeInLeftLarge">
                                                        <div class="photo_wrapper">
                                                            <div class="icon themebg"><i class="icon-lamp"></i></div>
                                                            <img class="photo scale-with-grid" src="/static/img/smm.jpg" alt="smm" width="600" height="401" />
                                                        </div>
                                                        <div class="desc_wrapper">
                                                            <h4>SMM</h4>
                                                            <div class="desc">
                                                                <ul>
                                                                    <li>Save time</li>
                                                                    <li>Visual result of promotion for clients</li>
                                                                    <li>Unlimited number of draws</li>
                                                                    <li>One account for all draws</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section mcb-section mcb-section-7d6fdda3d full-width" style="padding-top: 100px; padding-bottom: 40px;">
                                <div class="section-decoration top" style="background-image: url(/static/img/be_app3_decor_top_bg.png); height: px;"></div>
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-8b8890c37 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-d0c39c077 one column_image">
                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="/static/img/app3-home-small-line.png" alt="" title="" /></div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-7609bf1d6 one column_column">
                                                <div class="column_attr clearfix align_center" style="">
                                                    <hr class="no_line" style="margin: 0 auto 10px;" />

                                                    <h2>Select a plan</h2>
                                                    <hr class="no_line" style="margin: 0 auto 10px;" />
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-dbfbb4d69 one column_button">
                                                <div class="button_align align_center">
                                                    <a class="button button_size_3 button_stroke_custom button_js" href="/pricing/" style="border-color: #9790c7 !important; color: #0f007d;">
                                                        <span class="button_label">View more plans</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section mcb-section mcb-section-5edddb54d equal-height" style="padding-bottom: 150px;">
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-d52dee607 one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-17402e1e7 one-third column_column box-shadowed">
                                                <div class="column_attr clearfix align_center animate" data-anim-type="fadeInLeftLarge" style="background-color: #ffffff; padding: 30px 10% 40px; border-radius: 15px;">
                                                    <h3>Easy run</h3>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h5 style="color: #ff94b7;">1$</h5>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <p>Try it and stay contended</p>
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <p>3 contest within 5 days</p>
                                                    <hr />
                                                    <p>No likes limits or commenters limits</p>
                                                    <hr />
                                                    <p><i class="icon-cancel"></i></p>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-c254b427f one-third column_column box-shadowed">
                                                <div
                                                    class="column_attr clearfix align_center animate bg-contain"
                                                    data-anim-type="fadeInUpLarge"
                                                    style="
                                                        background-color: #ffffff;
                                                        background-image: url('/static/img/app3-home-pricing-bg.jpg');
                                                        background-repeat: no-repeat;
                                                        background-position: right top;
                                                        padding: 30px 10% 40px;
                                                        border-radius: 15px;
                                                    "
                                                >
                                                    <h3>Single</h3>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h5 style="color: #a61fc4;"><b>10</b>$</h5>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <p>Quick launch. All options are avalable. Less effort, max comfort</p>
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <p>1 contest on full option mode</p>
                                                    <hr />
                                                    <p>No likes limits or commenters limits</p>
                                                    <hr />
                                                    <p><i class="icon-cancel"></i></p>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-cf584730c one-third column_column box-shadowed">
                                                <div class="column_attr clearfix align_center animate" data-anim-type="fadeInRightLarge" style="background-color: #ffffff; padding: 30px 10% 40px; border-radius: 15px;">
                                                    <h3>Ultimate</h3>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <h5><b>25</b>$/mo</h5>
                                                    <hr class="no_line" style="margin: 0 auto 25px;" />

                                                    <p>You start contests regular? Take this!</p>
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <p>Unlimited number of contests</p>
                                                    <hr />
                                                    <p>Unlimited options</p>
                                                    <hr />
                                                    <p>Personal setups</p>
                                                    <hr />
                                                    <p>Branding ability</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-decoration bottom" style="background-image: url(/static/img/app3-home-white-gradient-up.png); height: px;"></div>
                            </div>
                            <div class="section mcb-section mcb-section-845595eed" style="padding-top: 100px; padding-bottom: 40px;">
                                <div class="section-decoration top" style="background-image: url(/static/img/be_app3_decor_top_bg.png); height: px;"></div>
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-7e4557e3e one valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-9f2ec1a08 one column_image">
                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="/static/img/app3-home-small-line.png" alt="" title="" /></div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-fd0eb42c0 one column_column">
                                                <div class="column_attr clearfix align_center" style="">
                                                    <hr class="no_line" style="margin: 0 auto 10px;" />

                                                    <h2>FAQ</h2>
                                                    <hr class="no_line" style="margin: 0 auto 10px;" />
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-692ab5879 one column_accordion box-shadowed">
                                                <div class="accordion">
                                                    <div class="mfn-acc accordion_wrapper">
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Is it possible to determine random winners of the draw for free?</div>
                                                            <div class="answer">
                                                                Yes, at WinnerGet.ru for a symbolic 1$, you'll have access to 3 draws within 3 days without any restrictions. After this period, a subscription is activated, allowing you to
                                                                conduct as many draws as you like. The subscription can be canceled in a couple of clicks at any time, including during the free period. After canceling, you can resume it
                                                                whenever you want, choose a more favorable tariff, or buy a one-time drawing at a price lower than in similar services.
                                                            </div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>What are the conditions for choosing the winners?</div>
                                                            <div class="answer">Checking like, comment, subscription to the organizer. Checking mentions in a comment Checking subscriptions to sponsors and any other accounts</div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title">
                                                                <i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Why is WinnerGet.ru better than other free services and bots for choosing random comments?
                                                            </div>
                                                            <div class="answer">
                                                                Most of the services require you to enter a username and password from your Instagram account in order to gain access to it during the drawing. This is the risk of losing your
                                                                account or getting banned from Instagram for suspicious activity. In WinnerGet.ru, there is no need to link an account and there are no risks to your account. In addition,
                                                                winnerget.online works quickly, under different conditions and for any number of participants.
                                                            </div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>How many random winners can I choose?</div>
                                                            <div class="answer">Up to 10 winners. This is perfect for those who spend like-time and reciprocal subscriptions.</div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Are Instagram pranks still effective?</div>
                                                            <div class="answer">
                                                                And how! Giveaways and contests on Instagram are one of the best ways to attract an audience in terms of cost-benefit ratio. The giveaways are held by beginner Instagram
                                                                entrepreneurs to attract their first customers, and bloggers to effectively advertise their sponsors, and the largest brands with hundreds of thousands of subscribers to
                                                                increase audience engagement and brand awareness.
                                                            </div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>How many new subscribers will I get after the draw?</div>
                                                            <div class="answer">
                                                                Depends on account size and promotion costs. With zero marketing budgets, our clients receive 10 to 30 percent audience growth. These are tens, hundreds and thousands of new
                                                                subscribers, depending on the size of the account. But if you invest in promoting a post with a draw, the effect may be greater than an enemy. From 0 to 3000-4000 subscribers -
                                                                a very real case.
                                                            </div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>How to prevent new subscribers from unsubscribing after the drawing?</div>
                                                            <div class="answer">Choose prizes that will be of interest to your target audience Conduct draws regularly Define winners honestly</div>
                                                        </div>
                                                        <div class="question">
                                                            <div class="title"><i class="icon-plus acc-icon-plus"></i><i class="icon-minus acc-icon-minus"></i>Is it possible to influence the determination of the random winner?</div>
                                                            <div class="answer">No, WinnerGet.ru uses a random number generator to select the winner, its code is completely closed, even our developers cannot influence its result</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="section mcb-section mcb-section-ce6e84817 bg-cover"
                                style="padding-top: 100px; padding-bottom: 400px; background-image: url(/static/img/winbott.jpg); background-repeat: no-repeat; background-position: center;"
                            >
                                <div class="section-decoration top" style="background-image: url(/static/img/app3-home-white-gradient.png); height: px;"></div>
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-c9d9ebe07 three-fifth valign-top clearfix" style="">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-b25da9e1e one column_column">
                                                <div class="column_attr clearfix" style="">
                                                    <h1>
                                                        Download free<br />
                                                        app today
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-fd0a0c909 one-third column_image">
                                                <div class="image_frame image_item scale-with-grid alignleft no_border hover-disable">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div>
                                                            <img class="scale-with-grid" src="/static/img/app3-home-google-play.png" alt="" title="" />
                                                        </a>
                                                        <div class="image_links">
                                                            <a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-c9640d207 one-third column_image">
                                                <div class="image_frame image_item scale-with-grid alignleft no_border hover-disable">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div>
                                                            <img class="scale-with-grid" src="/static/img/app3-home-app-store.png" alt="" title="" />
                                                        </a>
                                                        <div class="image_links">
                                                            <a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-862799634 two-third column_column">
                                                <div class="column_attr clearfix" style="">
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />

                                                    <p style="color: #0f007d;">
                                                        Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh magna. Proin risus erat, fringilla vel purus sit amet, mattis porta enim. Duis fermentum faucibus est, sed vehicula
                                                        velit sodales vitae. Mauris mollis lobortis turpis, eget accumsan ante aliquam quis.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-decoration bottom" style="background-image: url(/static/img/app3-footer-decor.png); height: px;"></div>
                            </div>
                            <div class="section the_content no_content">
                                <div class="section_wrapper"><div class="the_content_wrapper"></div></div>
                            </div>
                            <div class="section section-page-footer">
                                <div class="section_wrapper clearfix">
                                    <div class="column one page-pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->

            <footer id="Footer" class="clearfix">
                <div class="widgets_wrapper">
                    <div class="container">
                        <div class="column one-third">
                            <aside id="custom_html-5" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <h4>Find us here</h4>
                                    <hr class="no_line" style="margin: 0 auto 40px;" />

                                    <p>
                                        <a style="margin-right: 5px; font-size: 18px;" href="#"><i class="icon-facebook"></i></a>
                                        <a style="margin-right: 5px; font-size: 18px;" href="#"><i class="icon-gplus"></i></a>
                                        <a style="margin-right: 5px; font-size: 18px;" href="#"><i class="icon-twitter"></i></a>
                                        <a style="margin-right: 5px; font-size: 18px;" href="#"><i class="icon-linkedin"></i></a>
                                    </p>
                                    <hr class="no_line" style="margin: 0 auto 40px;" />
                                </div>
                            </aside>
                        </div>
                        <div class="column one-third">
                            <aside id="custom_html-6" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <h4>Contact with us</h4>
                                    <hr class="no_line" style="margin: 0 auto 40px;" />

                                    <ul style="line-height: 36px;">
                                        <a href="#">
                                            <li><i class="themecolor icon-right-open-mini"></i> Lorem ipsum</li>
                                        </a>
                                        <a href="#">
                                            <li><i class="themecolor icon-right-open-mini"></i> Consectetur adipisicing</li>
                                        </a>
                                        <a href="#">
                                            <li><i class="themecolor icon-right-open-mini"></i> Elitsed do eiusmund</li>
                                        </a>
                                        <a href="#">
                                            <li><i class="themecolor icon-right-open-mini"></i> Tempor incididunt</li>
                                        </a>
                                        <a href="#">
                                            <li><i class="themecolor icon-right-open-mini"></i> Altabore</li>
                                        </a>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="column one-third">
                            <aside id="custom_html-7" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <h4>
                                        Localization
                                    </h4>
                                    <hr class="no_line" style="margin: 0 auto 40px;" />

                                    Envato<br />
                                    Level 13, 2 Elizabeth<br />
                                    Victoria 3000<br />
                                    Australia
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>

                <div class="footer_copy">
                    <div class="container">
                        <div class="column one">
                            <a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big"></i></a>
                            <div class="copyright">&copy; 2021 int.winnerget.ru. All Rights Reserved. <a target="_blank" rel="nofollow" href="https://muffingroup.com">Muffin group</a></div>

                            <ul class="social"></ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

{% endblock %}